.siteHead{background-size:cover;background-repeat:no-repeat;background-image:url('../images/header.jpg');background-color:black;min-height:200px;color:white !important;position:relative;}
.particles-js-canvas-el{position:absolute;top:0;left:0;}
.headLead{font-size: 1.8em;}
.headerLink{color:white;font-size: 5em;margin: 0.5em 0.8em}
.headerLink:hover{color:white;}
.projectTitle{margin-top:0;}
li{margin:0.8em 0;}